@charset "UTF-8";
/*css ³õÊ¼»¯ */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset×éºÏ±íµ¥ÖÐµÄÏà¹ØÔªËØ*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*Çå³ýÁÐ±í·ç¸ñ*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "ËÎÌå";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*·ÀÖ¹¶àÐÐÎÄ±¾¿òÍÏ¶¯*/
img {
    border: 0;
    vertical-align: middle;
}

/*  È¥µôÍ¼Æ¬µÍ²âÄ¬ÈÏµÄ3ÏñËØ¿Õ°×·ìÏ¶*/
table {
    border-collapse: collapse;			/*ºÏ²¢Íâ±ßÏß*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*ËÎÌå£¬Unicode£¬Í³Ò»Âë*/
    color: #666;
    background: #fff
}

/*Çå³ý¸¡¶¯*/
/*.clearfix:after {
    content: "";
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}*/

.clearfix:after,.clearfix:before {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {              
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*¹«¹²Àà*/
.w {
    /*°æÐÄ ÌáÈ¡ */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}




/*top-nav²¿·Ö¿ªÊ¼*/
.top-nav {
    height: 30px;
    line-height: 30px;
    background-color: #F1F1F1;
}
.top-ns {
    width: 95px;
}
.top-nav-send,
.top-nav .fore {
    position: relative;
    padding: 0 25px 0 10px;
}
/*.top-nav-send:hover {
    background-color: white;
}*/
.top-nav-send s,
.fore s {
    position: absolute;
    top: 12px;
    right: 5px;
    width: 14px;
    height: 7px;
    overflow: hidden;
    /*font: 400 14px/14px "consolas";*/
}
.top-nav-send i,
.fore i {
    position: absolute;
    top: -15px;
}
.top-nav-city {
    width: 260px;
    height: 180px;
    padding: 15px 10px;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid #F1F1F1;
}
.bgc-red {
    background-color: red;
    color: white;
}
.top-ns .top-nav-city li {
    float: left;
    padding: 0;
    margin: 0 10px 3px 0; 
}
.top-ns .top-nav-city a {
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    text-align: center;
}
.top-nav li {
    float: left;
    padding: 0 10px;
}
li.line {
    width: 1px;
    padding: 0;
    height: 12px;
    margin-top: 9px;
    background-color: #DDDDDD;
}
.top-nav .phone {
    padding-left: 25px;
    position: relative;
}
.top-nav .my-JD {
    position: absolute;
    z-index: 1;
    right: -2px;
    display: none;
    text-align: center;
}
.my-JD img {
    width: 80px;
    margin-bottom: 3px;
    border: 1px solid #DDD;
}
.phone span {
    position: absolute;
    top: 5px;
    left: 6px;
    width: 15px;
    height: 20px;
    background: url(../images/tel.png) no-repeat;
}
/*top-nav²¿·Ö½áÊø*/

/*top-banner²¿·Ö¿ªÊ¼*/
.top-banner {
    height: 80px;
    background-color: #FD6500;
}
.tb {
    position: relative;
}
.tb .close-banner {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 19px;
    height: 19px;
    background: url(../images/close-banner.png) no-repeat;
}
.tb .close-banner:hover {
    background-position: bottom;
}
/*top-banner²¿·Ö½áÊø*/

/*search²¿·Ö¿ªÊ¼*/
.search {
    margin-top: 25px;
}
.search-logo {
    float: left;
    width: 362px;
    height: 60px;
    padding-bottom: 15px;
}
.search-logo a {
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -9999em;
    background: url(../images/logo.png) no-repeat;
}
.search-inp {
    float: left;
    width: 538px;
    height: 36px;
}
.search-inp input {
    float: left;
    width: 450px;
    height: 32px;
    padding-left: 4px;
    color: rgb(153,153,153);
    border: 2px solid #B61D1D;
    border-right: 0;
    font: 400 14px/32px "microsoft yahei";
}
.search-inp button {
    float: left;
    color: #fff;
    width: 82px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    background-color: #B61D1D;
    font: 400 16px/36px "microsoft yahei";
}
.search-shop {
    float: right;
    width: 85px;
    height: 34px;
    line-height: 34px;
    position: relative;
    margin-right: 65px;
    padding: 0 11px 0 43px;
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
}
.search-shop-car {
    position: absolute;
    top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url(../images/tel.png) no-repeat 0 -58px;
}
.search-shop-num {
    position: absolute;
    top: -5px;
    color: #fff;
    width: 16px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 7px 7px 7px 0;
    background-color: #C81623;
}
.search-shop s {
    float: right;
    font-family: "consolas";
}
.search-alinks {
    float: left;
    height: 28px;
    line-height: 28px;
}
.search-alinks a {
    margin-right: 8px;
}
/*search²¿·Ö½áÊø*/

/*shortcut-nav²¿·Ö¿ªÊ¼*/
.shortcut-nav {
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #B1191A;
}
.shortcut-nav-menu {
    float: left;
    width: 210px;
    height: 44px;
    background-color: #B1191A;
}
.shortcut-nav-menu-all a {
    color: #fff;
    display: block;
    padding-left: 9px;
    font: 400 15px/44px "microsoft yahei";
}
.shortcut-nav-menu-one {
    width: 209px;
    height: 465px;
    margin-top: 2px;
    position: relative;
    z-index: 1;
    background-color: #C81623;
    border-left: 1px solid #B61D1D;
    border-bottom: 1px solid #B61D1D;
}
.shortcut-nav-menu-one h3 {
    height: 31px;
    padding: 0 13px 0 9px;
    font: 400 12px/31px "microsoft yahei";
}
.shortcut-nav-menu-one h3:hover {
    background-color: #fff;
}
.shortcut-nav-menu-one h3:hover a {
    color: red;
}
.shortcut-nav-menu-one a {
    color: #fff;
    font: 400 12px/31px "microsoft yahei";
}
.shortcut-nav-menu-one i {
    color: #fff;
    float: right;
    font-family: "consolas";
}
.shortcut-nav-items {
    float: left;
    width: 728px;
    height: 44px;
}
.shortcut-nav-items li {
    float: left;
}
.shortcut-nav-items a {
    color: #333;
    height: 44px;
    display: block;
    padding:0 20px;
    font: 400 16px/44px "microsotf yahei";
}
.shortcut-nav-items a:hover {
    color: red;
}
.shortcut-nav-img {
    float: right;
    width: 200px;
    height: 54px;
    margin: -10px 50px 0 0;
}
/*shortcut-nav²¿·Ö½áÊø*/

/*footer²¿·Ö¿ªÊ¼*/
.footer-top-solgen {
    width: 100%;
    height: 54px;
    padding: 20px 0;
    position: relative;
    background-color: #F5F5F5;
}
.footer-top-solgen img {
    position: absolute;
    left: 50%;
}
.footer-top-solgen1 {
    margin-left: -604px;
}
.footer-top-solgen2 {
    margin-left: -302px;
}
.footer-top-solgen4 {
    margin-left: 302px;
}
.footer-top-shop {
    margin-top: 15px;
}
.footer-top-shop dl {
    float: left;
    width: 200px;
}
.footer-top-shop .footer-top-shop-lastdl {
    width: 100px;
}
.footer-top-shop dt,
.footer-top-shop-coverage h3 {
    height: 35px;
    font: 400 16px/35px "microsoft yahei";
}
.footer-top-shop dd {
    height: 20px;
    line-height: 20px;
}
.footer-top-shop-coverage {
    float: right;
    width: 187px;
    height: 169px;
    margin-right: 60px;
    padding-left: 16px;
    background: url(../images/china.png) no-repeat left bottom;
}
.footer-top-shop-coverage p {
    margin-top: 8px;
}
.footer-top-shop-coverage a {
    float: right;
}
.footer-bottom {
    margin-top: 20px;
    padding: 20px 0 30px 0;
    text-align: center;
    border-top: 1px solid #E5E5E5;
}
.footer-bottom-alink a {
    margin: 0 10px;
}
.footer-bottom-copyright {
    padding: 13px 0;
}
.footer-bottom-icon img {
    margin: 0 5px;
}
/*footer²¿·Ö½áÊø*/